<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/head.html" %}
    <title>Predict</title>
    {% load staticfiles %}
</head>
<body>
{% include "includes/nav_bar.html" %}
<div align="center">
    <h3>Enter target person's information</h3>
    <div style="background-color:lightgray; width:400px">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>person's gender</option>
            <option value="1">male</option>
            <option value="2">female</option>
            <option value="3">other</option>
        </select>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Person's age" aria-describedby="basic-addon2">
            <div class="input-group-append">
            </div>
            <input type="number" class="form-control" placeholder="Max price of the gift"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
            </div>
        </div>
        <h4>Favorite items:</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Item 1</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Item 2</span>
                </div>
                <input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Item 3</span>
                </div>
                <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon3">
            </div>

            <input type="submit" value="Search" class="btn btn-outline-success">
        </form>
    </div>
    <div>
        {% if p_list %}
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="{% static '1.jpg' %}" alt="Card image cap" style="height:250px;">
            <div class="card-body">
                <h5 class="card-title">Apple AirPods</h5>
                <a href="../item/1" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="{% static '2.jpg' %}" alt="Card image cap" style="height:250px;">
            <div class="card-body">
                <h5 class="card-title">SAT Prep Black Book</h5>
                <a href="../item/2" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="{% static '3.jpg' %}" alt="Card image cap"  style="height:226px;">
            <div class="card-body">
                <h5 class="card-title">DualShock 4 Wireless Controller</h5>
                <a href="../item/3" class="btn btn-primary">More info</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include "includes/footer.html" %}
</body>
</html>